
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;

  }
  
  .title-item {
    font-size: 4rem;
    margin: 0 10px;
    font-weight: bold;
    color: white;
    transition: transform 0.3s ease-in-out;
  }
  .title-item::first-letter{
    color:#58a6cf;
  }
  
  .title-item:hover {
    transform: scale(1.2);
    cursor: pointer;

  }
  
  .subtitle {
    text-align: center;
    font-size: 1.5rem;
    color: whitesmoke;
    margin-top: 0.2em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  
